

:root {
  --primary-color: #2563eb;
  --text-color: #2c3c56;
  --bg-color: #f8fafc;
  --vl-color:  #55b955;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
}

h1 {
  color: var(--primary-color);
}
h2 {
  color: var(--vl-color);
}

.my-navigation {
  color:aqua;
  background-color: #e6dc8b;

}